<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <div class="header">
        <a href="#" class="logo"><img src="./photo_2024-01-09_16-50-51.jpg" alt="wewe"></a>
        <nav class="navbar">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Login</a>
        </nav>
    </div>
</body>
</html>